@font-face {
	font-family: fontawesome; 
	src: url(../fonts/fontawesome/fontawesome-webfont.ttf);
}
@font-face {
	font-family: KrinkesDecor; 
	src: url(../fonts/krinkes/KrinkesDecorPERSONAL.ttf);
}
@font-face {
	font-family: PlayfairDisplay-Italic; 
	src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf);
}
@font-face {
	font-family: Lato-Regular; 
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: Lato-Bold; 
	src: url(../fonts/Lato/Lato-Bold.ttf);
}
